/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#rainInfo {
  margin-top: 20px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
